* {
    box-sizing: border-box;
} 

body {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
    background-color:#001122;
    font-family: monospace;
}

.button {
    margin: 10px
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.button {
    margin: 10px
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color:#102a44;
    color: #8BADC1;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-family: monospace;
  }
  .button:active {
    background-color: #8BADC1;
}
.button2 {
    margin: 10px
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.button2 {
    margin: 10px
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color:#102a44;
    color: #8BADC1;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-family: monospace;
  }
  .button2:active {
    background-color: #8BADC1;
}
.button { margin-right: 10px; }
.button2 { margin-right: 10px; }
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px; //game height - character height (200 - 50)
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
.animate{
    animation: jump 300ms linear;
}
#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px; //game height - character height - block height (200 - 50 - 20)
    left: 480px; //game width - block width (500 - 20)
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px} 
    100%{left: -20px}
}